* {
    scroll-behavior: smooth;
    transition: all .5s linear;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.lwptoc-notInherit .lwptoc_i DIV A:hover {
    border-bottom: none;
}

lwptoc-light .lwptoc_items A:visited {
    color: #0E0F11;
}

@keyframes showLinks {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: 30px;
    }
}

.article {
    .article__content {
        width: 1400px;
        border-radius: 40px;
        border: none;
        background-color: #fff;
        margin: 89px auto 150px;

        .article__img {
            width: 1320px;
            height: 415px;
            margin: 0 40px;

            img {
                width: 100%;
                height: 100%;
                margin: 40px 0;
                border-radius: 30px;
                object-fit: cover;
            }
        }

        .article__content-wrapper {
            display: flex;
            width: 100%;
            margin: 80px 20px 0 40px;
            flex-wrap: nowrap;

            .content-table {
                margin-right: 94px;

                .lwptoc_i {
                    background-color: #fff;
                    padding: 0;
                }

                .lwptoc_header {
                    font-weight: 600;
                    font-size: 25.6125px;
                    line-height: 120%;
                    color: #0E0F11;
                    margin-bottom: 20px;
                }

                .lwptoc_items {
                    width: 306px;

                    .lwptoc_item {
                        cursor: pointer;
                        position: relative;
                        line-height: 21px;
                        margin: 0;
                        margin-bottom: 16px;

                        a {
                            border-bottom: none !important;

                            span {
                                max-width: 306px;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                color: #0E0F11;
                                margin: 0;
                            }
                        }
                    }

                    .lwptoc_item.active {
                        padding-left: 14px;
                        
                        a::before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            background: url("/content/themes/gulp-theme/assets/img/icons/active-marker.svg");
                            background-repeat: no-repeat;
                            width: 4px;
                            height: 100%;
                            border-radius: 71px;
                            margin: 3px 0 0 -14px;
                            top: 0;
                        }
                    }
                }
            }

            .content-area {
                .area__header {
                    display: flex;
                    width: 920px;
                    justify-content: space-between;
                    margin-top: 17px;

                    .content-area__tags {
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: 40px;
                
                        a {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            text-transform: uppercase;
                            text-align: center;
                            transition: all 0.2s ease-in;
                            padding: 12px 14px;
                            background: #F8F5D4;
                            border-radius: 50px;
                            margin-right: 11px;
                            cursor: pointer;
                
                            &:hover {
                                background: #F0EBB1;
                            }
                
                            &:active {
                                background: #0E0F11;
                                color: #fff;
                            }
                
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                
                        a.active {
                            background: #0E0F11;
                            color: #fff;
                        }
                    }

                    .content-area__send {
                        img {
                            width: 44px;
                            height: 44px;
                        }

                        ul {
                            position: absolute;
                            margin: 20px 12px 0;


                            li {
                                opacity: 0;
                                margin-bottom: 30px;
                                width: 18px;
                                height: 18px;
                                transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
                                transform: translateX(15px);

                                img {
                                    width: 18px;
                                    height: 18px;
                                    object-fit: contain;
                                }
                            }
                        }

                        ul.active {
                            li {
                                opacity: 1;
                                width: 18px;
                                height: 18px;
                                transition: all .3s ease;
                                transform: translateX(0);

                                img {
                                    width: 18px;
                                    height: 18px;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }

                .content-area__info {
                    display: flex;
                    justify-content: left;
                    margin-bottom: 30px;

                    .date, .time {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 120%;
                        color: #ACAFB5;
                    }

                    .date {
                        margin-right: 40px;
                    }
                }

                .content-area__author {
                    display: flex;
                    margin-bottom: 40px;

                    img {
                        border: none;
                        border-radius: 50%;
                    }

                    p {
                        align-items: center;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #0E0F11;
                        margin: 13px 0 5px 12px;
                    }
                }

                .content-area__text {
                    margin-bottom: 152px;

                    .h1 {
                        width: 640px;
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 120%;
                        color: #0E0F11;
                        margin-bottom: 40px;
                    }

                    .text-block {
                        width: 639px;
                        margin-bottom: 70px;

                        h2 {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 120%;
                            color: #0E0F11;
                        }

                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            color: #0E0F11;
                            padding-top: 20px;

                            span {
                                color: #DC7148;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.article__more {
    .article__content {
        width: 1400px;
        margin: 0 auto;

        h2 {
            font-weight: 600;
            font-size: 48px;
            line-height: 120%;
            color: #0E0F11;
            margin-bottom: 50px;
        }

        .projects__content {
            .projects__content__item {
                width: 1400px;
                height: 380px;
                display: flex;
                background-color: #fff;
                margin-bottom: 40px;
                border: none;
                border-radius: 40px;
                
                div {
                    width: 520px;
                    height: 300px;
                    margin: 40px;
                    a.item__img {
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                        }
                    }
                }

                .item__data {
                    margin-left: 0;

                    .data__tag {
                        display: flex;
                        flex-wrap: wrap;
                        height: 44px;
                        margin: 0;
                        margin-bottom: 139px;
                
                        span {
                            height: fit-content;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            text-transform: uppercase;
                            text-align: center;
                            transition: all 0.2s ease-in;
                            padding: 12px 14px;
                            background: #F8F5D4;
                            border-radius: 50px;
                            margin-right: 12px;
                            margin-bottom: 12px;
                            cursor: pointer;
                
                            &:hover {
                                background: #F0EBB1;
                            }
                
                            &:active {
                                background: #0E0F11;
                                color: #fff;
                            }
                
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                
                        span.active {
                            background: #0E0F11;
                            color: #fff;
                        }
                    }

                    .data__info {
                        margin: 0;

                        a.title {
                            width: 760px;
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 43px;
                            display: flex;
                            align-items: flex-end;
                            color: #0E0F11;
                            padding-bottom: 12px;
                        }


                        p.desk {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 120%;
                            color: #ACAFB5;
                        }
                    }
                }  
            }
            .projects__content__item:nth-child(2) {
                width: 1400px;
                height: 380px;
                display: flex;
                background-color: #fff;
                margin-bottom: 40px;
                border: none;
                border-radius: 40px;
                
                div {
                    width: 520px;
                    height: 300px;
                    margin: 40px;
                    a.item__img {
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                        }
                    }
                }

                .item__data {
                    margin-left: 0;

                    .data__tag {
                        display: flex;
                        flex-wrap: wrap;
                        height: 44px;
                        margin: 0;
                        margin-bottom: 182px;
                
                        span {
                            height: fit-content;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            text-transform: uppercase;
                            text-align: center;
                            transition: all 0.2s ease-in;
                            padding: 12px 14px;
                            background: #F8F5D4;
                            border-radius: 50px;
                            margin-right: 12px;
                            margin-bottom: 12px;
                            cursor: pointer;
                
                            &:hover {
                                background: #F0EBB1;
                            }
                
                            &:active {
                                background: #0E0F11;
                                color: #fff;
                            }
                
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                
                        span.active {
                            background: #0E0F11;
                            color: #fff;
                        }
                    }

                    .data__info {
                        margin: 0;

                        a.title {
                            width: 760px;
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 43px;
                            display: flex;
                            align-items: flex-end;
                            color: #0E0F11;
                            padding-bottom: 12px;
                        }


                        p.desk {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 120%;
                            color: #ACAFB5;
                        }
                    }
                }
                
            }
        }

        .button-more {
            color: #fff;
            background-color: #0E0F11;
            margin: 60px auto 150px;
        }
    }
}


@media screen and (max-width: 1368px) {
    .article {
        .article__content {
            width: 996px;
            border-radius: 28px;
            margin: 48px auto 106px;
    
            .article__img {
                width: 939px;
                height: 295px;
                margin: 0 28px;
    
                img {
                    width: 100%;
                    height: 100%;
                    margin: 28px 0;
                    border-radius: 21px;
                    object-fit: cover;
                }
            }
    
            .article__content-wrapper {
                display: flex;
                width: 100%;
                margin: 69px 31px 0 27px;
                flex-wrap: nowrap;
    
                .content-table {
                    margin-right: 65px;
    
                    .lwptoc_i {
                        background-color: #fff;
                        padding: 0;
                    }
    
                    .lwptoc_header {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 120%;
                        color: #0E0F11;
                        margin-bottom: 20px;
                    }
    
                    .lwptoc_items {
                        width: 306px;
    
                        .lwptoc_item {
                            cursor: pointer;
                            position: relative;
                            line-height: 21px;
                            margin: 0;
                            margin-bottom: 16px;
    
                            a {
                                border-bottom: none !important;
    
                                span {
                                    max-width: 306px;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 150%;
                                    color: #0E0F11;
                                    margin: 0;
                                }
                            }
                        }
    
                        .lwptoc_item.active {
                            padding-left: 14px;
                            
                            a::before {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                background: url("/content/themes/gulp-theme/assets/img/icons/active-marker.svg");
                                background-repeat: no-repeat;
                                width: 4px;
                                height: 100%;
                                border-radius: 71px;
                                margin: 3px 0 0 -14px;
                                top: 0;
                            }
                        }
                    }
                }
    
                .content-area {
                    .area__header {
                        display: flex;
                        width: 657px;
    
                        .content-area__tags {
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 26px;
                    
                            a {
                                font-size: 12px;
                                line-height: 17px;
                                padding: 8.5px 10px;
                                border-radius: 50px;
                                margin-right: 8px;
                                cursor: pointer;
                            }
                        }
    
                        .content-area__send {
                            img {
                                width: 34px;
                                height: 34px;
                            }
    
                            ul {
                                margin: 15px 9px 0;
    
    
                                li {
                                    width: 16px;
                                    height: 14px;
                                    margin-bottom: 23px;
    
                                    img {
                                        width: 18px;
                                        height: 18px;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
    
                    .content-area__info {
                        margin-bottom: 20px;
    
                        .date, .time {
                            font-size: 12px;
                            line-height: 14px;
                        }
    
                        .date {
                            margin-right: 25px;
                        }
                    }
    
                    .content-area__author {
                        display: flex;
                        margin-bottom: 28.85px;
    
                        img {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                        }
    
                        p {
                            font-size: 12px;
                            line-height: 18px;
                            margin: 9px 0 5px 8.5px;
                        }
                    }
    
                    .content-area__text {
                        margin-bottom: 106px;

                        h1 {
                            width: 455px;
                            font-size: 34px;
                            line-height: 41px;
                            margin-bottom: 29px;
                        }
    
                        .text-block {
                            width: 455px;
                            margin-bottom: 49px;
    
                            h3 {
                                font-size: 17px;
                                line-height: 21px;
                            }
    
                            p {
                                font-size: 14px;
                                line-height: 21px;
                                padding-top: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .article__more {
        .article__content {
            width: 996px;
            margin: 0 auto;
    
            h2 {
                font-size: 34px;
                line-height: 41px;
                margin-bottom: 36px;
            }
    
            .projects__content {
                .projects__content__item {
                    width: 996px;
                    height: 270px;
                    display: flex;
                    margin-bottom: 28px;
                    border: none;
                    border-radius: 28px;
                    
                    div {
                        width: 370px;
                        height: 213px;
                        margin: 29px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                object-fit: cover;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
    
                        .data__tag {
                            height: 44px;
                            margin: 0;
                            margin-bottom: 85px;
                    
                            span {
                                height: fit-content;
                                font-size: 10px;
                                line-height: 14px;
                                padding: 8.5px 10px;
                                border-radius: 50px;
                                margin-right: 12px;
                                margin-bottom: 12px;
                                cursor: pointer;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 540px;
                                font-size: 26px;
                                line-height: 31px;
                                display: flex;
                                align-items: flex-end;
                                padding-bottom: 8px;
                            }
    
    
                            p.desk {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }  
                }
                .projects__content__item:nth-child(2) {
                    width: 996px;
                    height: 270px;
                    display: flex;
                    margin-bottom: 28px;
                    border-radius: 28px;
                    
                    div {
                        width: 370px;
                        height: 213px;
                        margin: 29px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                object-fit: cover;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
    
                        .data__tag {
                            display: flex;
                            flex-wrap: wrap;
                            height: 44px;
                            margin: 0;
                            margin-bottom: 116px;
                    
                            span {
                                height: fit-content;
                                font-size: 10px;
                                line-height: 14px;
                                padding: 8.5px 10px;
                                border-radius: 50px;
                                margin-right: 12px;
                                margin-bottom: 12px;
                                cursor: pointer;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 540px;
                                font-size: 26px;
                                line-height: 31px;
                                display: flex;
                                align-items: flex-end;
                                padding-bottom: 8px;
                            }
    
    
                            p.desk {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }  
                }
            }
    
            .button-more {
                margin: 43px auto 107px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .article {
        .article__content {
            width: 708px;
            border-radius: 40px;
            margin: 69px auto 120px;
    
            .article__img {
                width: 628px;
                height: 362px;
                margin: 0 40px;
    
                img {
                    width: 100%;
                    height: 100%;
                    margin: 40px 0;
                    border-radius: 30px;
                    object-fit: cover;
                }
            }
    
            .article__content-wrapper {
                width: 100%;
                margin: 60px 31px 0 27px;
    
                .content-table {
                    display: none;
                }
    
                .content-area {
                    .area__header {
                        width: 640px;
    
                        .content-area__tags {
                            padding-bottom: 40px;
                            margin-left: 11px;
                    
                            a {
                                font-size: 14px;
                                line-height: 20px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 14px;
                            }
                        }
    
                        .content-area__send {
                            img {
                                width: 44px;
                                height: 44px;
                            }
    
                            ul {
                                margin: 20px 13px 0;
    
    
                                li {
                                    width: 21px;
                                    height: 17px;
                                    margin-bottom: 30px;
    
                                    img {
                                        width: 18px;
                                        height: 18px;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
    
                    .content-area__info {
                        margin-bottom: 30px;
                        margin-left: 14px;
    
                        .date, .time {
                            font-size: 16px;
                            line-height: 19px;
                        }
    
                        .date {
                            margin-right: 30px;
                        }
                    }
    
                    .content-area__author {
                        margin-bottom: 40px;
                        margin-left: 14px;
    
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
    
                        p {
                            font-size: 16px;
                            line-height: 24px;
                            margin: 14px 0 10px 12px;
                        }
                    }
    
                    .content-area__text {
                        margin-bottom: 80px;
                        margin-left: 14px;

                        h1 {
                            width: 628px;
                            font-size: 48px;
                            line-height: 58px;
                            margin-bottom: 40px;
                        }
    
                        .text-block {
                            width: 628px;
                            margin-bottom: 50px;
    
                            h3 {
                                font-size: 26px;
                                line-height: 31px;
                            }
    
                            p {
                                font-size: 16px;
                                line-height: 24px;
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .article__more {
        .article__content {
            width: 708px;
            margin: 0 auto;
    
            h2 {
                font-size: 48px;
                line-height: 58px;
                margin-bottom: 50px;
            }
    
            .projects__content {
                margin-bottom: 60px;

                .projects__content__item {
                    width: 708px;
                    height: 649px;
                    flex-direction: column;
                    margin-bottom: 40px;
                    border-radius: 40px;
                    
                    div {
                        width: 628px;
                        height: 362px;
                        margin: 40px;
                        margin-bottom: 20px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 30px;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
                        margin-top: 0;
    
                        .data__tag {
                            height: 44px;
                            margin: 0 40px 26px;
                            margin-bottom: 26px;
                    
                            span {
                                font-size: 14px;
                                line-height: 20px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 12px;
                                margin-bottom: 26px;
                                cursor: pointer;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 628px;
                                font-size: 36px;
                                line-height: 43px;
                                margin-left: 40px;
                                padding-bottom: 12px;
                            }
    
    
                            p.desk {
                                font-size: 16px;
                                line-height: 19px;
                                margin-left: 40px;
                            }
                        }
                    }  
                }
                .projects__content__item:nth-child(2) {
                    width: 708px;
                    height: 649px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;
                    border: none;
                    border-radius: 40px;
                    
                    div {
                        width: 628px;
                        height: 362px;
                        margin: 40px;
                        margin-bottom: 20px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
                        margin-top: 0;
    
                        .data__tag {
                            display: flex;
                            flex-wrap: wrap;
                            height: 44px;
                            margin: 0 40px;
                            margin-bottom: 26px;
                    
                            span {
                                font-size: 14px;
                                line-height: 20px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 12px;
                                margin-bottom: 26px;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 628px;
                                font-size: 36px;
                                line-height: 43px;
                                margin-left: 40px;
                                padding-bottom: 12px;
                            }
    
    
                            p.desk {
                                font-size: 16px;
                                line-height: 19px;
                                margin-left: 40px;
                            }
                        }
                    }  
                }
            }
    
            .button-more {
                margin: 0 auto 120px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .article {
        .article__content {
            width: 288px;
            border-radius: 20px;
            margin: -10px auto 80px;
    
            .article__img {
                width: 258px;
                height: 148px;
                margin: 0 15px;
    
                img {
                    width: 100%;
                    height: 100%;
                    margin: 15px 0;
                    border-radius: 15px;
                    object-fit: cover;
                }
            }
    
            .article__content-wrapper {
                width: 100%;
                margin: 26px 15px 0;
    
                .content-table {
                    display: none;
                }
    
                .content-area {
                    .area__header {
                        width: 258px;
    
                        .content-area__tags {
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 13px;
                            margin-left: 0;
                    
                            a {
                                font-size: 10px;
                                line-height: 14px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 8px;
                            }
                        }
    
                        .content-area__send {
                            img {
                                width: 38px;
                                height: 38px;
                            }
    
                            ul {
                                margin: 17px 10px 0;
    
    
                                li {
                                    width: 18px;
                                    height: 15px;
                                    margin-bottom: 26px;
    
                                    img {
                                        width: 18px;
                                        height: 15px;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
    
                    .content-area__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        margin-bottom: 20px;
                        margin-left: 0;
    
                        .date, .time {
                            font-size: 12px;
                            line-height: 14px;
                        }
    
                        .date {
                            margin-right: 0;
                            padding-top: 8px;
                        }

                        .time {
                            padding-top: 8px;
                        }
                    }
    
                    .content-area__author {
                        margin-bottom: 40px;
                        margin-left: 0;
    
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
    
                        p {
                            width: 196px;
                            font-size: 14px;
                            line-height: 21px;
                            margin: 2px 0 0 12px;

                            span {
                                display: none;
                            }
                        }
                    }
    
                    .content-area__text {
                        margin-bottom: 60px;
                        margin-left: 0;

                        h1 {
                            width: 256px;
                            font-size: 24px;
                            line-height: 29px;
                            margin-bottom: 30px;
                        }
    
                        .text-block {
                            width: 258px;
                            margin-bottom: 40px;
    
                            h3 {
                                font-size: 20px;
                                line-height: 24px;
                            }
    
                            p {

                                font-size: 14px;
                                line-height: 21px;
                                padding-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .article__more {
        .article__content {
            width: 288px;
            margin: 0 auto;
    
            h2 {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 40px;
            }
    
            .projects__content {
                margin-bottom: 0;
                .projects__content__item {
                    width: 288px;
                    height: 339px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    
                    div {
                        width: 258px;
                        height: 148px;
                        margin: 15px;
                        margin-bottom: 12px;
                        border-radius: 15px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 15px;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
                        margin-top: 0;
    
                        .data__tag {
                            height: 44px;
                            margin: 0 15px 26px;
                            margin-bottom: 35px;
                    
                            span {
                                font-size: 10px;
                                line-height: 14px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 8px;
                                margin-bottom: 42px;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 258px;
                                font-size: 20px;
                                line-height: 24px;
                                margin-left: 15px;
                                padding-bottom: 4px;
                            }
    
    
                            p.desk {
                                font-size: 14px;
                                line-height: 17px;
                                margin-left: 15px;
                                margin-bottom: 15px;
                            }
                        }
                    }  
                }
                .projects__content__item:nth-child(2) {
                    width: 288px;
                    height: 339px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    
                    div {
                        width: 258px;
                        height: 148px;
                        margin: 15px;
                        margin-bottom: 12px;
                        border-radius: 15px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 15px;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
                        margin-top: 0;
    
                        .data__tag {
                            flex-wrap: wrap;
                            height: 44px;
                            margin: 0 15px 26px;
                            margin-bottom: 35px;
                    
                            span {
                                font-size: 10px;
                                line-height: 14px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 8px;
                                margin-bottom: 42px;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 258px;
                                font-size: 20px;
                                line-height: 24px;
                                margin-left: 15px;
                                padding-bottom: 4px;
                            }
    
    
                            p.desk {
                                font-size: 14px;
                                line-height: 17px;
                                margin-left: 15px;
                                margin-bottom: 15px;
                            }
                        }
                    } 
                }

                .projects__content__item:last-child {
                    width: 288px;
                    height: 339px;
                    flex-direction: column;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    
                    div {
                        width: 258px;
                        height: 148px;
                        margin: 15px;
                        margin-bottom: 12px;
                        a.item__img {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 15px;
                            }
                        }
                    }
    
                    .item__data {
                        margin-left: 0;
                        margin-top: 0;
    
                        .data__tag {
                            flex-wrap: wrap;
                            height: 44px;
                            margin: 0 15px 18px;
                            margin-bottom: 12px;
                    
                            span {
                                font-size: 10px;
                                line-height: 14px;
                                padding: 12px 14px;
                                border-radius: 50px;
                                margin-right: 8px;
                                margin-bottom: 18px;
                            }
                        }
    
                        .data__info {
                            margin: 0;
    
                            a.title {
                                width: 258px;
                                font-size: 20px;
                                line-height: 24px;
                                margin-left: 15px;
                                padding-bottom: 4px;
                            }
    
    
                            p.desk {
                                font-size: 14px;
                                line-height: 17px;
                                margin-left: 15px;
                                margin-bottom: 15px;
                            }
                        }
                    } 
                }
            }
    
            button.button-more {
                margin: -10px auto 78px;
                top: -3px;
            }
        }
    }
}