.anime {
    transform: scale(0);
    opacity: 0;
    display: none !important;
    transform-origin: center;
}

.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }

    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        font-size: 0;
        margin: 0;
    }
}

.message {
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;
    color: #0E0F11;
    margin: 20px auto;
}

.blog {
    padding-top: 99px;

    .blog__title {
        padding-bottom: 40px !important;
    }

    .blog__tags {
        padding-bottom: 38px;

        .tag__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 12px;
            li {
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px; 
                    text-transform: uppercase;
                    text-align: center;
                    transition: all 0.2s ease-in;
                    padding: 12px 14px;
                    background: #F8F5D4;
                    border-radius: 50px;
                    margin-right: 12px;
                    margin-bottom: 12px;
                    cursor: pointer;
        
                    &:hover {
                        background: #F0EBB1;
                    }
        
                    &:active {
                        background: #0E0F11;
                        color: #fff;
                    }
        
                    &:last-child {
                        margin-right: 0;
                    }
                }
        
                a.active {
                    background: #0E0F11;
                    color: #fff;
                }
            }
        }
    }

    .card-list {
        height: fit-content;
    }

    .projects__content .projects__content__item {
        display: none !important;
        animation: bounce-in .5s reverse ease-in both;

        &:nth-child(-n+9) {
            display: flex !important;
        }

        .item__data {
            .data__teg {
                span {
                    background: #F8F5D4 !important;

                    &:hover{
                        background: #F0EBB1 !important;
                    }
                }
            }

            .data__info .desk {
                font-size: 16px !important;
                line-height: 19px !important;
            }
        }
    }

    .projects__content .projects__content__item.active_cards {
        animation: bounce-in .5s reverse ease-in both;
        display: flex !important;
    }

    .projects__content .projects__content__item.hidden {
        animation: bounce-in .5s ease-out both;
    }
}

@media screen and (max-width: 1368px) {
    .blog {
        padding-top: 55px;

        .blog__title {
            padding-bottom: 29px !important;
        }

        .blog__tags {
            padding-bottom: 17px;

            .tag__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 8.54px; 

                li{
                    a {
                        font-size: 12px;
                        padding: 8.5px 10px;
                        margin-right: 8.55px;
                    }
                }
           }
        }

        .projects__content {
            .projects__content__item {
                animation: bounce-in .5s reverse ease-in both;
                border-radius: 28.5px;

                .item__data {


                    .data__info .desk {
                        font-size: 11.3833px !important;
                        line-height: 14px !important;
                    }
                }
            }
        }

        .projects__content .projects__content__item {
            animation: bounce-in .5s ease-out both;
        }
    }
}

@media screen and (max-width: 768px) {
    .blog {
        padding-top: 70px;

        .blog__tags {
            padding-bottom: 18px;

            .tag__list {
                display: flex;
                flex-wrap: wrap;
                column-gap: 12px;
                li {
                    a {
                        font-size: 14px;
                        padding: 12px 14px;
                        margin-right: 12px;
                    }
                }
            }
        }

        .projects__content {
            .projects__content__item {
                animation: bounce-in .5s reverse ease-in both;ы
                .item__data {
                    .data__teg {
                        padding-bottom: 26px !important;
                    }

                    .data__info {
                        .title {
                            padding-bottom: 12px !important;
                        }

                        .desk {
                            font-size: 1rem !important;
                            line-height: 19px !important;
                        }
                    }
                }
            }
        }

        .projects__content .projects__content__item.hidden {
            animation: bounce-in .5s ease-out both;
        }
    }
}

@media screen and (max-width: 480px) {
    .blog {
        padding-top: 30px;

        .blog__tags {
            padding-bottom: 22px;

            .tag__list {
                display: flex;
                flex-wrap: wrap;
                column-gap: 8px;
                li {
                    a {
                        font-size: 10px;
                        line-height: 14px;
                        padding: 12px 14px;
                        margin: 0 8px 8px 0;
                    }
                }
            }
        }

        .projects__content {
            .projects__content__item {
                animation: bounce-in .5s reverse ease-in both;
                height: calc(339px + (420 - 339) * ((100vw - 320px)/ (480 - 320)));

                .item__data {
                    margin-top: auto;
                    height: inherit;

                    .data__teg {
                        padding-bottom: 16px !important;
                    }

                    .data__info {
                        .title {
                            padding-bottom: 4px !important;
                        }

                        .desk {
                            font-size: 14px !important;
                            line-height: 17px !important;
                        }
                    }
                }
            }
        }

        .projects__content .projects__content__item.hidden {
            animation: bounce-in .5s ease-out both;
        }
    }
}