.header__menu .sub-menu li.current-menu-item a,
.header__menu .sub-menu li.current_page_item a, 
.header-menu__ul>li.current-menu-ancestor a,
.header-menu__ul>li.current-menu-parent a {
  color: #DC7148;
}

.header {
  position: relative;
  padding-top: 50px;
  padding-bottom: 51px;
  transition: none;

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .menu__but-open {
      display: none;
      position: relative;
      width: 50px;
      z-index: 99;
      transition: all 0.3s ease-in-out;
      margin-left: 29px;
      order: 2;
    }

    .closeMenu {
      display: none;
    }

    .menu__but-open span,
    .menu__but-open span:after,
    .menu__but-open span:before {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -2px;
      width: 50px;
      height: 3px;
      background: #0E0F11;
      border-radius: 100px;
      order: 2;
    }

    .menu__but-open span:before {
      transform: translateY(-12px);
      order: 2;
    }

    .menu__but-open span:after {
      transform: translateY(16px);
      order: 2;
    }

    .menu__but-open span:after,
    .menu__but-open span:before {
      content: "";
      display: block;
      transition: 0.2s;
      order: 2;
    }


    .sub-menu{
      li {
        margin-bottom: 40px;
        padding: 0;
        a {
          font-weight: 600;
          font-size: 36px;
          line-height: 120%;
          margin-bottom: 0;
          padding: 0;
          color: #0E0F11;
        }

        a.activeLi {
          color: #DC7148;
        }

        .sub-menu {
          max-width: 565px;

          li {
            margin:  0 0 20px;

            a {
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              color: #0E0F11;
            }

            a.activeLi, a.activeSpan  {
              color: #DC7148;
            }

            .sub-menu{

              li {
                margin-bottom: 8px;

                a {
                  min-width: 260px;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 150%;
                  color: #0E0F11;
                }

                a.activeLi, a.activeSpan {
                  color: #DC7148;
                }
              }
              li.current_page_item , li.current-menu-item{
                color: #DC7148;
              }
            }
          }
          li.current_page_item , li.current-menu-item{
            color: #DC7148;
          }
        }
      }

      li.current_page_item , li.current-menu-item{
          color: #DC7148;
      }
    }


    .header__list {
      .topmenu {
        display: flex;
        gap: 40px;

        li {
          position: relative;
          display: inline-flex;

          a {
            transition: all 0.2s ease;

            .arrow {
              position: relative;
              vertical-align: middle;
              display: inline-block;
              transform: rotate(0deg);
              transition: transform .2s;
              margin-left: 8px;
            }

            &:hover {
              color: #DC7148;
            }
          }

          &:hover {
            .submenu {
              display: block;
            }

            .arrow {
              transform: rotate(-180deg);
            }
          }
        }

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: auto;
          z-index: 10;
          transition: .5s ease-in-out;
          background: #fff;
          box-shadow: 4px 4px 14px hsl(0deg, 0%, 58% / 25%);
          border-radius: 0 30px 30px 30px;
          padding: 20px;

          li {
            width: 100%;
            position: relative;

            a {
              display: inline-block;
              width: 12rem;
              font-size: 14px;
              padding: 9px 17px;
              border: 0;
              border-bottom: 0.5px dashed hsla(0, 0%, 57.6%, .63);
              border-radius: 0;
            }
          }
        }
      }
    }

    .header__phone {
      a {
        color: #DC7148;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        transition: all 0.2s ease;
      }
    }
  }

  .one .submenu {
    display: none;
  }
}

.header.fixed {
  filter: none !important;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  transition: 0.5s;
  transform: translateX(-100%);

  .close {
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 999;
  }
}







.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;

  .menu__top {
    li {
      display: block;
      padding: 15px;

      a {
        display: block;
      }
    }
  }

  .one {
    .topmenu {
      display: flex;
      flex-direction: column;

      li {
        margin: 0;
        border-bottom: 1px solid #424242;
      }

      .submenu {
        width: 100%;
      }
    }
  }

  .menu__phone {
    padding: 32px 0;

    a {
      display: block;
      font-weight: 700;
      font-size: 22px;
      line-height: 29px;
    }
  }

  .menu__soc {
    a {
      &:first-child {
        margin-right: 14px;
      }
    }
  }

  .menu__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #F1F2F6;
    border-radius: 50px 50px 0px 0px;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 14px 0;

      >div {
        display: flex;
        align-items: center;

        &:first-child {
          margin-bottom: 16px;
        }

        span {
          background: #fff;
          display: inline-block;
          border-radius: 50px;
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #090230;
        }
      }
    }
  }

}

@media screen and (max-width: 1368px) {
  .header {
    padding-top: 36px;
    padding-bottom: 45px;

    .header__menu {
      .header__logo img {
        width: 106.01px;
      }

      .header__list {
        .topmenu {
          gap: 30px;

          li a {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      .header__phone {
        a {
          font-size: 14.23px;
          line-height: 20px;
        }
      }

      .sub-menu {

        li {
          margin-bottom: 40px;
          padding: 0;
  
          a {
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 0;
            padding: 0;
          }
  
          a.activeLi , a.activeSpan {
            color: #DC7148;
          }
  
          .sub-menu {
            max-width: 565px;
  
            li {
              margin:  0 0 20px;
  
              a {
                font-weight: 500;
                font-size: 17px;
                line-height: 21px;
              }
  
              a.activeLi , a.activeSpan {
                color: #DC7148;
              }
  
              .sub-menu{
  
                li {
                  margin-bottom: 8px;
  
                  a {
                    min-width: 260px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                  }
  
                  a.activeLi , a.activeSpan {
                    color: #DC7148;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .header-menu__ul {
    gap: 30px;

    >li {
      >a {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .header {
    padding-top: 30px;
    width: 100%;
    padding-bottom: 46px ;

    .header__menu {

      .menu__but-open.activeBut,
      .menu__but-close.activeBut {
        display: block;
      }

      .header__logo img {
        width: 100%;
      }

      .header__list {
        display: none;
      }

      .header__phone {
        a {
          font-size: 20px;
          line-height: 28px;
        }
      }

      .sub-menu {
        padding: 40px 0 0;

        li {
          margin: 0;
          margin-bottom: 24px;
          padding: 0;
  
          a {
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 0;
            padding: 0;
          }
  
          a.activeMobilA {
            color: #DC7148;
          }
  
          .sub-menu {
            padding: 30px 0 0;
            max-width: 565px;
  
            li {
              margin:  0 0 20px;
              font-size: 16px;
              line-height: 120%;
  
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px; 
              }
    
              a.activeMobilA {
                color:  #0E0F11;
                text-decoration: underline;
              }

              .sub-menu {
                padding: 20px 0 0;
                margin: 0;

                li {
                  margin-bottom: 8px;
  
                  a {
                    min-width: 260px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #ACAFB5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 18px;
    padding-bottom: 30px;
    width: 100%;

    .header__menu {
      .menu__but-open {
        width: 31px;
      }

      .mobile-menu__ul {
        width: 100%;
        overflow-x: hidden;
      }

      .sub-menu {
        width: 150%;
        padding: 20px 0 0;

        li {
          width: 100%;
          margin-bottom: 20px;
          margin-left: 16px;
          padding: 0;
  
          a {
            width: 182px;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 0;
            padding: 0;
          }
  
          a.activeLi {
            color: #DC7148;
          }
  
          .sub-menu {
            max-width: 90%;
            padding: 20px 0 0;
  
            li {
              margin:  0 0 20px;
  
              a {
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
              }
  
              a.activeLi {
                color: #DC7148;
              }
  
              .sub-menu{
  
                li {
                  margin-bottom: 12px;
  
                  a {
                    min-width: 260px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #ACAFB5;
                  }
  
                  a.activeLi {
                    color: #DC7148;
                  }
                }
              }
            }
          }
        }
      }

      .menu__but-open span,
      .menu__but-open span:after,
      .menu__but-open span:before {
        margin-top: -1px;
        width: 32px;
        height: 2px;
      }

      .menu__but-open span:before {
        transform: translateY(-7px);
      }

      .menu__but-open span:after {
        transform: translateY(10px);
      }

      .header__logo img {
        width: 84px;
      }

      .header__phone {
        display: none;
      }
    }
  }
}