@import './plagins/slick.scss';
@import './plagins/slick-theme.scss';

@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
/* 
@import "./header";
@import "./footer";
@import "./wraper";
 */

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    background: initial !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: $mainFontSize;
    font-weight: 400;
    background: url('/content/themes/gulp-theme/assets/img/bg.png');
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: $mainLineHeight;
    position: relative;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
    color: $default-color;

    &:hover {
        text-decoration: none;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button,
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #EA464D;
    -webkit-text-fill-color: $default-color;
    -webkit-box-shadow: 0 0 0px 0px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

section,
.section {
    position: relative;
}


.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;

    /* @media screen and (max-width: $smDesktopWidth) {
        max-width: tableWidth;
    }

    @media screen and (max-width: $tableWidth) {
        max-width: 708px;
    }

    @media screen and (max-width: $phoneWidth) {
        max-width: 288px;
    } */
}

.button {
    position: relative;
    overflow: hidden;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    background: $second-color;
    border-radius: 50px;
    color: $default-color;
    cursor: pointer;
    padding: 18px 0 20px 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 218px;


    &:hover {
        background: $pink-color;
    }

    &:active {}

    :focus {}

}


.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    width: 655px;
    padding-bottom: 40px;
    color: $default-color;
}

.fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background: $second-color;
    transition: all .3s ease-in-out;
    padding: 31px 0;
}

/*Modal Style*/
.blocker {
    z-index: 99 !important;
}

#ex1 {
    background: #fff;
    border-radius: 40px;
}


.modal {
    padding: 0 !important;
    max-width: max-content !important;
    width: 100% !important;

    a.close-modal {
        background-image: url('/content/themes/gulp-theme/assets/img/icons/close-modal.svg') !important;
        top: 40px !important;
        right: 40px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .modal-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 107px 80px 104px 80px;
        width: 1400px;

        .form {
            display: flex;
            flex-direction: column;
            width: 680px;

            input[type="text"] {
                margin-bottom: 3.125rem;
            }

            input[type="text"],
            input[type="tel"] {
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                width: 100%;
                background: #F1F4F4;
                border-radius: 50px;
                border: 1px solid #fff;
                padding: 18px 24px 20px 24px;

                &::placeholder {
                    font-family: 'Inter', sans-serif;
                    color: #0E0F11;
                    font-size: 16px;
                    line-height: 15px;
                }

                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }

            >div {
                padding-top: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .button {
                    background: #0E0F11;
                    color: #fff;

                    &:hover {
                        color: #0E0F11;
                        background: #FDD0BF;
                    }
                }

                p {
                    width: 419px;

                    a {
                        color: #DC7148;
                        text-decoration: underline;
                        transition: all 0.2s ease;

                        &:hover {
                            color: #0E0F11;
                        }
                    }
                }
            }
        }

        .modal__icons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .icon {
                &:first-child {
                    position: absolute;
                    right: 23%;
                    top: 25%;
                }

                &:nth-child(3) {
                    margin-right: 154px;
                }
            }
        }
    }
}


@media screen and (max-width: 1920px) {}

/* 1369 - 1600 px */
@media screen and (max-width: 1600px) {}

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {}

/* 769 - 960 px */
@media screen and (max-width: 960px) {}

/* 481 - 768 px */
@media screen and (max-width: 768px) {}

/* 320 - 480 px */
@media screen and (max-width: 480px) {}