.reviews-page {
    .reviews__content {
        column-count: 2;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start; */

        .reviews__item {
            background: #FFFFFF;
            border-radius: 40px;
            width: 680px;
            padding: 30px;
            margin-bottom: 40px;

            .item__info {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;

                img {
                    width: 86px;
                    height: 86px;
                    object-fit: cover;
                    border-radius: 100px;
                    margin-right: 20px;
                }

                .name {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    padding-bottom: 8px;
                }

                .job {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #ACAFB5;
                }
            }

            .item__text {
                line-height: 24px;
                color: #0E0F11;
            }

        }
    }
}