.home-about {
  .title {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 82px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}