.home-about {
  padding-bottom: 239px;

  .info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 63px;

    .dop {
      position: absolute;
      bottom: 0;
      padding-left: 15px;

      p {
        font-size: 20px;
        line-height: 28px;
        width: 261px;
        padding-bottom: 27px;
      }
    }
  }

  .title {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 82px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 244px;
    padding-bottom: 0;
    width: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span {
      display: flex;
      padding-bottom: 21px;

      &:first-child {
        padding-left: 400px;

        img {
          margin-left: 12px;
        }
      }

      &:nth-child(2) {
        padding-left: 85px;
      }

      &:last-child {
        padding-left: 130px;
        padding-bottom: 14px;

        img {
          margin-right: 12px;
        }
      }
    }
  }
}


.aboutus {
  position: relative;
  margin-top: 150px;
  padding-bottom: 150px;

  .aboutus__content {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .title {}

  .aboutus__text {
    width: 572px;

    p {
      color: #0E0F11;
      line-height: 24px;

      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
  }

  .aboutus__icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .icon {
      &:first-child {
        margin-top: 25px;
        margin-right: 100px;
        margin-bottom: 40px;
      }

      &:nth-child(2) {
        position: absolute;
        top: 250px;
        right: 225px;
      }

      &:nth-child(4) {
        //margin-top: 20px;
        margin-right: 154px;
      }
    }
  }
}

.projects {
  padding-bottom: 150px;

  .title {
    padding-bottom: 50px;

    img {
      margin: 0 0 11px 15px;
    }
  }

  .projects__content {
    .projects__content__item {
      background: #fff;
      border-radius: 40px;
      padding: 40px;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      .item__img {
        display: block;
        border-radius: 30px;
        width: 520px;
        height: 300px;
        object-fit: contain;
      }

      .item__data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 40px;

        .data__teg {
          display: flex;

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            text-align: center;
            transition: all 0.2s ease-in;
            padding: 12px 14px;
            background: #FDD0BF;
            border-radius: 50px;
            margin-right: 12px;
            cursor: pointer;

            &:hover {
              background: #F0B59F;
            }

            &:active {
              background: #0E0F11;
              color: #fff;
            }
          }
        }

        .data__info {
          .title {
            display: inline-block;
            font-size: 36px;
            line-height: 43px;
            padding-bottom: 8px;
            transition: all 0.2s ease-in;
            cursor: pointer;
            width: auto;

            &:hover {
              color: #DC7148;
            }
          }

          .desk {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #ACAFB5;

          }
        }
      }
    }
  }

  .button {
    margin: 60px auto 0;
    background: #0E0F11;
    color: #fff;

    &:hover {
      background: #FDD0BF;
      color: #0E0F11;
    }
  }
}

.articles {
  padding-top: 150px;

  .projects__content .projects__content__item .item__data {
    .data__teg span {
      background: #F8F5D4;

      &:hover {
        background: #F0EBB1;
      }

      &:active {
        background: #0E0F11;
        color: #fff;
      }
    }

    .data__info {
      .desk {
        font-size: 1rem;
      }
    }
  }
}

.team {
  background: #0E0F11;
  padding: 150px 0 245px 0;
  color: #fff;

  .title {
    color: #FDD0BF;
  }

  .subtitle {
    width: 572px;
    line-height: 24px;
  }

  .button {
    margin: 20px auto 0;
  }

  .team__content {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //column-gap: 40px;

    .team__item {
      margin-bottom: 40px;
      width: 23%;
      //width: 20rem;

      img {
        width: 320px;
      }

      .name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        padding: 30px 0 12px 0;
      }
    }
  }
}

.strip {
  background: #0E0F11;
  padding-bottom: 250px;

  >div {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: linear-gradient(90deg, #0E0F11 0%, rgba(14, 15, 17, 0) 17.49%, rgba(14, 15, 17, 0) 45.31%, rgba(14, 15, 17, 0) 90.69%, #0E0F11 100%);
    }
  }

  .text {
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 63px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    position: relative;
    top: 0;
    left: -40%;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0s;
    pointer-events: none;
    user-select: none;
  }
}

.interests {
  background: #0E0F11;
  color: #fff;
  padding-bottom: 150px;

  .title {
    color: #F8F5D4;
  }

  .interests__content {
    display: flex;

    >div {
      width: 572px;

      p {
        line-height: 24px;
        padding-bottom: 20px;
      }

      .button {
        margin-top: 20px;
      }

      &:first-child {
        margin-right: 148px;
      }

      ul {
        li {
          position: relative;
          padding-left: 31px;
          line-height: 24px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: url('/content/themes/gulp-theme/assets/img/icons/lightning-list.svg') no-repeat;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}


.format {
  padding-top: 115px;

  .format__content {
    display: flex;

    >div {
      width: 572px;

      &:first-child {
        margin-right: 148px;
      }

      p {
        padding-bottom: 20px;
        line-height: 24px;
      }
    }
  }
}

.contacts {
  padding-top: 100px;

  .contacts__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    .address {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      width: 367px;
    }

    .data {
      a {
        display: inline-block;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-decoration-line: underline;
        transition: all 0.2s ease;
        color: #DC7148;

        &:first-child {
          padding-right: 80px;
        }

        &:hover {
          color: #0E0F11;
        }
      }
    }
  }

  .contacts__map {
    iframe {
      border-radius: 40px;
    }
  }
}




.services {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 150px;

  .subtitle {
    width: 572px;
    line-height: 24px;
    color: #0E0F11;
  }

  .button {
    background: #0E0F11;
    color: #fff;
    margin-top: 40px;

    &:hover {
      color: #0E0F11;
      background: #FDD0BF;
    }
  }

  .services__content {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 40px 0;

    .services__item {
      width: 320px;
      height: 451px;
      background: #FFFFFF;
      border-radius: 40px;
      padding: 30px;

      .name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: underline;
        transition: all 0.2s ease-in;
        color: #DC7148;
        padding: 20px 0;
      }

      &:hover {
        .name {
          color: #0E0F11;
        }
      }
    }
  }
}



.connect {
  padding: 150px 0;

  .connect__content {
    display: flex;
    justify-content: space-between;
    position: relative;

    .form {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      width: 680px;

      input[type="text"] {
        margin-bottom: 3.125rem;
      }

      input[type="text"],
      input[type="tel"] {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        width: 100%;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid #fff;
        padding: 18px 24px 20px 24px;

        &::placeholder {
          font-family: 'Inter', sans-serif;
          color: #0E0F11;
          font-size: 16px;
          line-height: 15px;
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
      }

      >div {
        padding-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button {
          background: #0E0F11;
          color: #fff;

          &:hover {
            color: #0E0F11;
            background: #FDD0BF;
          }
        }

        p {
          width: 435px;

          a {
            color: #DC7148;
            text-decoration: underline;
            transition: all 0.2s ease;

            &:hover {
              color: #0E0F11;
            }
          }
        }
      }
    }

    .connect__icons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .icon {
        &:first-child {
          position: absolute;
          right: 226px;
          top: 16%;
        }

        &:nth-child(2) {
          margin-top: 20px;

        }

        &:last-child {
          margin-right: 154px;
        }
      }
    }
  }
}

.reviews {

  .container {
    position: relative;
  }

  .desk {
    width: 572px;

    p {
      line-height: 24px;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 40px;
      }
    }
  }

  .reviews__content {
    .reviews__item {
      background: #FFFFFF;
      border-radius: 40px;
      width: 440px;
      padding: 30px;
      margin-bottom: 40px;

      .item__info {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        img {
          width: 86px;
          height: 86px;
          object-fit: cover;
          border-radius: 100px;
          margin-right: 20px;
        }

        .name {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          padding-bottom: 8px;
        }

        .job {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #ACAFB5;
        }
      }

      .item__text {
        line-height: 24px;
        color: #0E0F11;
      }

      &:nth-child(1) {
        position: absolute;
        right: 0;
        top: 0;
      }

      &:nth-child(3) {
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        margin: 0 auto;
      }

      &:nth-child(5) {
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }
}


/* 961 - 1368 px */
@media screen and (max-width: 1368px) {
  .home-about {
    padding-bottom: 170px;
    .title {
      padding-top: 178.15px;
      font-size: 59.7625px;
      line-height: 58px;

      span {
        padding-bottom: 15px;

        &:first-child {
          img {
            width: 44.82px;
          }
        }

        &:last-child {
          img {
            width: 45.53px;
          }
        }
      }
    }

    .info {
      padding-bottom: 45px;
      .dop {
        p {
          font-size: 14.2292px;
          line-height: 20px;
          width: 185px;
          padding-bottom: 22.5px;
        }
      }
    }
  }
}